extends layout

block widgets
    -
        const MONTHS = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul","Aug", "Sep", "Oct", "Nov", "Dec"];
        const balanceHistory = [...Array(new Date().getMonth() + 1)].map(() => (800 + Math.random() * 400).toFixed(2))
    #account-summary.text.widget
        h2 Hello, #{session.username}
        p
            | You have $#{balanceHistory[balanceHistory.length - 1]} in your checking account as of #{new Date().toLocaleDateString()}
        a(href="/log-out").button Log out of my account
    #balance-summary.widget
        canvas#balance-history-chart
    #card-description.text.widget
        h2 Your credit card
        canvas(width=200, height=200)#credit-usage
        p You still have $3500 credit available this month
    #crash-widget.text.widget
        button(onclick="toggle_visibility('stack-trace')").call-to-action Check my transaction history
        pre#stack-trace(style="display: none;")
            | ERR! Please try running this command again as root/Administrator.
            | Error: ./accounts.json is too large to process - processing stopped by performance monitor
            |     at verifyAccountExists (routes/index.js)
            |     at routes/index.js
            |     at IncomingRequest.handle (express/index.js)
            |     [10 more lines in STDOUT]
    #finances.text.widget
        h2 Recent Payments
        p
            |You spent $1 on Caesar Cipher Salad
        

block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js")
    script
        | var context = document.getElementById('balance-history-chart').getContext('2d');
        | var chart = new Chart(context, {
        |     // The type of chart we want to create
        |     type: 'line',
        |
        |     // The data for our dataset
        |     data: {
        |         labels: [!{MONTHS.slice(0, balanceHistory.length).map(it => `"${it}"`)}],
        |         datasets: [{
        |             label: 'Balance History',
        |             backgroundColor: 'rgb(255, 99, 132)',
        |             borderColor: 'rgb(255, 99, 132)',
        |             data: [#{balanceHistory}]
        |         }]
        |     },
        |
        |     // Configuration options go here
        |     options: {}
        | });
        |
        | function toggle_visibility(id) {
        |        var e = document.getElementById(id);
        |        if(e.style.display == 'block')
        |           e.style.display = 'none';
        |        else
        |           e.style.display = 'block';
        |     }
    script
        | var myPieChart = new Chart(document.getElementById('credit-usage'), {
        |   type: 'pie',
        |   data: {
        |       labels: ["Credit limit", "Usage this month"],
        |       datasets: [{
        |           data: [5000, 1500],
        |           backgroundColor: ["limegreen", "red"]
        |       }]
        |   },
        |   options: {
        |       legend: {display: false}
        |   }
        | });
